In [28]:
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [29]:
# Importing data which has a header and automatically configuring the schema.
df = spark.read.csv('Datasets/IVS_Country.csv', header=True, inferSchema=True)

# Let's visually inspect the data. You may notice some nulls in the total visitor spend and total visitors column. 
df.show()

# Let's see how many rows of data we originally have.
print("Total data points:", df.count())

+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
|Pkey|Year|Quarter|Year ending|Airport of departure|  Purpose of visit|Country of permanent residence|Total visitor spend|Total visitors|
+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
|   1|1997|      4| YEDec 1997|            Auckland|          Business|          Africa and Middle...|         4266524.07|          1684|
|   2|1997|      4| YEDec 1997|            Auckland|          Business|                     Australia|      1.325885058E8|         67277|
|   3|1997|      4| YEDec 1997|            Auckland|          Business|                        Canada|      1.558969421E7|          3596|
|   4|1997|      4| YEDec 1997|            Auckland|          Business|                         China|         9490117.52|          4510|
|   5|1997|      4| YEDec 1997|            Auckland|          Business|                       Germany|         5481105.51|          1889|
|   6|1997|      4| YEDec 1997|            Auckland|          Business|                         Japan|      3.556964314E7|          8381|
|   7|1997|      4| YEDec 1997|            Auckland|          Business|            Korea, Republic of|         6247531.69|          3519|
|   8|1997|      4| YEDec 1997|            Auckland|          Business|              Rest of Americas|          191980.36|           424|
|   9|1997|      4| YEDec 1997|            Auckland|          Business|                  Rest of Asia|       2.45432304E7|          9194|
|  10|1997|      4| YEDec 1997|            Auckland|          Business|                Rest of Europe|       1.79347973E7|          6677|
|  11|1997|      4| YEDec 1997|            Auckland|          Business|               Rest of Oceania|      1.201545776E7|          5959|
|  12|1997|      4| YEDec 1997|            Auckland|          Business|                            UK|      2.280761665E7|          8460|
|  13|1997|      4| YEDec 1997|            Auckland|          Business|                           USA|      4.448590835E7|         16559|
|  14|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|          Africa and Middle...|         5.292394E7|         16699|
|  15|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                     Australia|       1.80850204E8|         84411|
|  16|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                        Canada|      3.090026303E7|         12306|
|  17|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                         China|      1.075575762E7|          4331|
|  18|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                       Germany|      1.001301535E8|         26974|
|  19|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                         Japan|      4.572746316E8|        114330|
|  20|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|            Korea, Republic of|      1.582283085E8|         81217|
+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
only showing top 20 rows

Total data points: 17056

In [30]:
# 'na' stands for Not Available. Using na, we can then use drop. 
# After using show, you'll find that the rows with the null values are gone. 
df.na.drop().show()

# Let's see how many rows of data we have now. 
print("Total data points:", df.count())

+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
|Pkey|Year|Quarter|Year ending|Airport of departure|  Purpose of visit|Country of permanent residence|Total visitor spend|Total visitors|
+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
|   1|1997|      4| YEDec 1997|            Auckland|          Business|          Africa and Middle...|         4266524.07|          1684|
|   2|1997|      4| YEDec 1997|            Auckland|          Business|                     Australia|      1.325885058E8|         67277|
|   3|1997|      4| YEDec 1997|            Auckland|          Business|                        Canada|      1.558969421E7|          3596|
|   4|1997|      4| YEDec 1997|            Auckland|          Business|                         China|         9490117.52|          4510|
|   5|1997|      4| YEDec 1997|            Auckland|          Business|                       Germany|         5481105.51|          1889|
|   6|1997|      4| YEDec 1997|            Auckland|          Business|                         Japan|      3.556964314E7|          8381|
|   7|1997|      4| YEDec 1997|            Auckland|          Business|            Korea, Republic of|         6247531.69|          3519|
|   8|1997|      4| YEDec 1997|            Auckland|          Business|              Rest of Americas|          191980.36|           424|
|   9|1997|      4| YEDec 1997|            Auckland|          Business|                  Rest of Asia|       2.45432304E7|          9194|
|  10|1997|      4| YEDec 1997|            Auckland|          Business|                Rest of Europe|       1.79347973E7|          6677|
|  11|1997|      4| YEDec 1997|            Auckland|          Business|               Rest of Oceania|      1.201545776E7|          5959|
|  12|1997|      4| YEDec 1997|            Auckland|          Business|                            UK|      2.280761665E7|          8460|
|  13|1997|      4| YEDec 1997|            Auckland|          Business|                           USA|      4.448590835E7|         16559|
|  14|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|          Africa and Middle...|         5.292394E7|         16699|
|  15|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                     Australia|       1.80850204E8|         84411|
|  16|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                        Canada|      3.090026303E7|         12306|
|  17|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                         China|      1.075575762E7|          4331|
|  18|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                       Germany|      1.001301535E8|         26974|
|  19|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                         Japan|      4.572746316E8|        114330|
|  20|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|            Korea, Republic of|      1.582283085E8|         81217|
+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
only showing top 20 rows

Total data points: 17056

In [31]:
df.filter("pkey=55").show()

+----+----+-------+-----------+--------------------+----------------+------------------------------+-------------------+--------------+
|Pkey|Year|Quarter|Year ending|Airport of departure|Purpose of visit|Country of permanent residence|Total visitor spend|Total visitors|
+----+----+-------+-----------+--------------------+----------------+------------------------------+-------------------+--------------+
|  55|1997|      4| YEDec 1997|        Christchurch|        Business|                        Canada|               null|          null|
+----+----+-------+-----------+--------------------+----------------+------------------------------+-------------------+--------------+

In [33]:
# Oops! Forgot to assign the result to a variable. Let's try that again. Now you can see that records with null values have been removed.
dropped_df = df.na.drop()
dropped_df.show()
print("Total data points:", dropped_df.count())

+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
|Pkey|Year|Quarter|Year ending|Airport of departure|  Purpose of visit|Country of permanent residence|Total visitor spend|Total visitors|
+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
|   1|1997|      4| YEDec 1997|            Auckland|          Business|          Africa and Middle...|         4266524.07|          1684|
|   2|1997|      4| YEDec 1997|            Auckland|          Business|                     Australia|      1.325885058E8|         67277|
|   3|1997|      4| YEDec 1997|            Auckland|          Business|                        Canada|      1.558969421E7|          3596|
|   4|1997|      4| YEDec 1997|            Auckland|          Business|                         China|         9490117.52|          4510|
|   5|1997|      4| YEDec 1997|            Auckland|          Business|                       Germany|         5481105.51|          1889|
|   6|1997|      4| YEDec 1997|            Auckland|          Business|                         Japan|      3.556964314E7|          8381|
|   7|1997|      4| YEDec 1997|            Auckland|          Business|            Korea, Republic of|         6247531.69|          3519|
|   8|1997|      4| YEDec 1997|            Auckland|          Business|              Rest of Americas|          191980.36|           424|
|   9|1997|      4| YEDec 1997|            Auckland|          Business|                  Rest of Asia|       2.45432304E7|          9194|
|  10|1997|      4| YEDec 1997|            Auckland|          Business|                Rest of Europe|       1.79347973E7|          6677|
|  11|1997|      4| YEDec 1997|            Auckland|          Business|               Rest of Oceania|      1.201545776E7|          5959|
|  12|1997|      4| YEDec 1997|            Auckland|          Business|                            UK|      2.280761665E7|          8460|
|  13|1997|      4| YEDec 1997|            Auckland|          Business|                           USA|      4.448590835E7|         16559|
|  14|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|          Africa and Middle...|         5.292394E7|         16699|
|  15|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                     Australia|       1.80850204E8|         84411|
|  16|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                        Canada|      3.090026303E7|         12306|
|  17|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                         China|      1.075575762E7|          4331|
|  18|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                       Germany|      1.001301535E8|         26974|
|  19|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|                         Japan|      4.572746316E8|        114330|
|  20|1997|      4| YEDec 1997|            Auckland|Holiday / vacation|            Korea, Republic of|      1.582283085E8|         81217|
+----+----+-------+-----------+--------------------+------------------+------------------------------+-------------------+--------------+
only showing top 20 rows

Total data points: 11292